Practical

### Practical Statistics For Data Scientist
Chapter 1

In [1]:
# notebook imports
import pandas as pd

In [2]:
# estimates of location works on numerical data
medal_count = pd.read_excel("Medals.xlsx")
medal_count

C:\Users\kelvi\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

### Estimates of location
mean, weighted mean, trimmed mean, robust, and median

In [3]:
# Mean
# sum of all values divided by the number of values
medal_count['Total'].mean()

11.612903225806452

In [7]:
# Numerical Python import
import numpy as np

In [8]:
# Weighted mean
# identical to mean except you multiply every value by some xi before adding them up 
# and dividing by the number of instances
np.average(medal_count['Total'], weights= medal_count['Gold'])

46.832352941176474

In [9]:
from scipy.stats import trim_mean

In [10]:
# Trimmed Mean
# trimming out 10%
trim_mean(medal_count['Gold'], 0.1)

1.96